@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #f8fafc;
  --bg-input: #f8fafc;
  --bg-input-border: #cbd5e1;
  --bg-checkbox: #f8fafc;
  --bg-checkbox-checked: #020617;
  --text-primary: #020617;
  --text-checkbox: #f8fafc;
  --border-checkbox: #cbd5e1;
}

.dark {
  --bg-primary: #020617;
  --bg-input: #0f172a;
  --bg-input-border: #1e293b;
  --bg-checkbox: #0f172a;
  --bg-checkbox-checked: #f8fafc;
  --text-primary: #f8fafc;
  --text-checkbox: #020617;
  --border-checkbox: #334155;
}

body {
  @apply container mx-auto max-w-4xl;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}
